body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100vw;
    height: 15vh;
    background-color: darkcyan;
    text-align: center;
    font-family: 'Roboto', sans-serif;;
}

h1 {
    margin: 0;
    padding-top: 20px;
    color: white;
}

p {
    color: white;
}